btn1{
    position: absolute;
    width: 105px;
    height: 36px;
    left: 651px;
    top: 663px;
    
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;

}
.btn2{
    position: absolute;
width: 81px;
height: 36px;
left: 319px;
top: 141px;

background: #E0E0E0;
box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
border-radius: 6px;
}
.btn3{
    position: absolute;
width: 81px;
height: 36px;
left: 555px;
top: 141px;

background: #AEAEAE;
box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
border-radius: 6px;
}
.btn4{
    position: absolute;
width: 88px;
height: 36px;
left: 319px;
top: 246px;

border: 1px solid #3D5AFE;
border-radius: 6px;
}
.btn6{
    position: absolute;
width: 88px;
height: 36px;
left: 555px;
top: 246px;

background: rgba(41, 98, 255, 0.1);
border: 1px solid #3D5AFE;
border-radius: 6px;
}
.btn7{
    position: absolute;
width: 88px;
height: 36px;
left: 555px;
top: 351px;

background: rgba(41, 98, 255, 0.1);
border-radius: 6px;
}
.btn8{
    position: absolute;
width: 81px;
height: 36px;
left: 319px;
top: 453px;

background: #3D5AFE;
border-radius: 6px;
}
.btn9{
    position: absolute;
width: 88px;
height: 36px;
left: 319px;
top: 558px;

background: #E0E0E0;
border-radius: 6px;
}
.btn10{
    position: absolute;
width: 105px;
height: 36px;
left: 319px;
top: 663px;

background: #2962FF;
box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
border-radius: 6px;
}
.btn11{
    position: absolute;
width: 105px;
height: 36px;
left: 651px;
top: 663px;

background: #2962FF;
box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
border-radius: 6px;
}
.btn12{
    position: absolute;
width: 81px;
height: 36px;
left: 971px;
top: 879px;

background: #D32F2F;
box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
border-radius: 6px;
}
.btn13{
    position: absolute;
width: 104px;
height: 36px;
left: 731px;
top: 879px;

background: #455A64;
box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
border-radius: 6px;
}
.btn14{
    position: absolute;
width: 81px;
height: 36px;
left: 523px;
top: 984px;

background: #0039CB;
box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
border-radius: 6px;
}
.btn5{
    position: absolute;
width: 81px;
height: 36px;
left: 319px;
top: 879px;

background: #E0E0E0;
box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
border-radius: 6px;
}


footer{
            
    position: absolute;
width: 287px;
height: 17px;
left: 577px;
top: 1039px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #0a0303;
    
    

}
